[Unit]
Description=ari-proxy-%I
After=network.target
StartLimitIntervalSec=60
StartLimitBurst=5

[Service]
RestartSec=5
User=ari-proxy
Group=ari-proxy
Environment=HOME=/usr/share/java/ari-proxy
WorkingDirectory=/usr/share/java/ari-proxy
LimitNOFILE=512
ExecStart=/usr/bin/java \
	-Xmx1024m \
	-Duser.timezone=UTC \
	-Dfile.encoding=UTF-8 \
	-Dconfig.file=/etc/ari-proxy/%i/service.conf \
	-Dlog4j.configurationFile=/etc/ari-proxy/%i/log4j2.xml \
	-javaagent:/usr/share/java/ari-proxy/jolokia-jvm-1.6.0-agent.jar=config=/etc/ari-proxy/%i/jolokia.properties \
	-jar /usr/share/java/ari-proxy/ari-proxy.jar

Restart=on-failure

[Install]
WantedBy=multi-user.target

