Source: ari-proxy
Section: telephony
Priority: optional
Build-Depends: java17-sdk-headless, debhelper, dh-systemd
Maintainer: re-tel <re-tel@sipgate.de>
Uploaders: re-tel <re-tel@sipgate.de>
Standards-Version: 3.9.4

Package: ari-proxy
Architecture: all
Depends: java17-runtime-headless, adduser, bash
Description: asterisk rest interface proxy developed by sipgate
